[paths]
source =
    jason/*


[report]
exclude_lines =
    waitress.serve
    raise NotImplementedError
    except ImportError
    \.\.\.

omit =
    */__main__.py

fail_under = 95

show_missing = true
skip_covered = true
